<footer>
<div class="content-wrapper">
{% include icons/footer-mikey.html %}
<ul class="links">
<li><a href="/skillz-games/">Skillz Games</a></li>
<li><a href="/skillz-promo-code/">Skillz Promo Code</a></li>
<li><a href="/skillz-match-codes/">Skillz Match Codes</a></li>
<li><a href="/shop/">eSportsMedium Shop</a></li>
<li><a href="/play/">MMM Game</a></li>
<li><a href="/videos/">Videos</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/about-us/">About</a></li>
<li><a href="/faq/">FAQ</a></li>
<li><a href="/contact-us/">Contact</a></li>
<li><a href="/sitemap.xml">Site map</a></li>
</ul>
<ul class="social">
<li><a href="https://www.youtube.com/channel/UCML7namxZY4u9HtMoYBYPMA" target="_blank">{% include icons/social-media/youtube.html %}</a></li>
<li><a href="https://www.twitch.tv/mikeyslice" target="_blank">{% include icons/social-media/twitch.html %}</a></li>
<li><a href="https://twitter.com/zMikeySlice" target="_blank">{% include icons/social-media/twitter.html %}</a></li>
</ul>
<p class="copyright"> 
<strong>eSportsMedium LLC &copy;2020</strong> <br />
<a href="/terms-and-conditions/">T&C</a> | <a href="/privacy-policy/">Privacy</a> | <a href="/disclosure-policy/">Disclosure</a>
</p>
</div>
</footer>
