<header>
	{% include navigation.html %}
	<div class="content-wrapper">
	{% unless page.url contains "/blog/" %}
	{% if site.kickstarter == "enabled" %}
	<div class="ann"><a href="https://www.kickstarter.com/projects/mikeyslice/mikeyslice-hybrid-mobile-app?ref=aqp0a2" title="Mobile App Kickstarter" target="_blank"> <span class="hide"><sup><b>NEW!</b></sup> <u>Kickstarter</u> </span></a></div>
	{% endif %}
	{% endunless %}
	<h1>{{ page.title }}</h1>
	{% if page.url == "/404" %}
	<h2>Looking for the <a href="/">homepage</a>?</h2>
	{% elsif page.subtitle %}
	<br />
	<p>{{ page.subtitle }}</p>
	{% endif %}
	{% if page.layout == "post" %}
	<br />
	{% if page.updated %}
	<small>
	Updated: {{ page.updated | date: "%B %-d, %Y" }} (Deployed: {{ page.date | date: "%B %-d, %Y" }})
	</small>
	{% else %}
	<small>Deployed: {{ page.date | date: "%B %-d, %Y" }}</small>
	{% endif %}
	{% if page.img %}
	<img src="{{ page.img }}" class="post-img" title="{{ page.title }}" alt="{{ page.title }}">
	{% endif %}
	{% endif %}
	{% if page.data-item-price %}
	<br>
	<span id="price-tag"><sup>$</sup>{{ page.data-item-price }}</span>
	<button class="btn btn-shop snipcart-add-item"
		data-item-id="{{ page.data-item-id }}"
		data-item-price="{{ page.data-item-price }}"
		data-item-url="{{ page.data-item-url }}"
		data-item-description="{{ page.data-item-description }}"
		data-item-image="{{ page.data-item-image }}"
		data-item-file-guid="{{ page.data-item-file-guid }}"
		data-item-name="{{ page.data-item-name }}"
		data-item-max-quantity="{{ page.data-item-max-quantity }}"
		data-item-shippable="{{ page.data-item-shippable }}">
		Add to Cart
	</button>
	{% endif %}
	</div>
</header>
