<nav class="main-nav">
	
	{% if page.url == "/" %}
	<label for="show-menu" class="show-menu">
	<span id="open-menu">Menu</span>
	{% else %}
	<label for="show-menu" class="show-menu" id="menu-page">
	<span id="home"><a href="/">Home</a></span>
	
	<span id="open-menu">Menu</span>
	{% endif %} 
	</label>
		<input type="checkbox" id="show-menu" role="button">
		{% if page.url == "/" %}
		<ul id="menu">
			<li><a href="/skillz-games/">Skillz Games</a></li>
			<li><a href="/skillz-promo-code/">Skillz Promo Code</a></li>
			<li><a href="/skillz-match-code/">Skillz Match Codes</a></li>
			<li><a href="/blog/">Blog</a></li>
			<li><a href="https://codes.esportsmedium.com/">Codes</a></li>
		</ul>
		{% else %}
		<ul id="menu-mobile">
			<li class="home"><a href="/">Home</a></li>
			
			{% if page.url == "/skillz-games/" %}
			<li class="active"><a href="/skillz-games/">Skillz Games</a></li>
			{% else %}
			<li><a href="/skillz-games/">Skillz Games</a></li>
			{% endif %}
			
			{% if page.url == "/skillz-promo-code/" %}
			<li class="active"><a href="/skillz-promo-code/">Skillz Promo Code</a></li>
			{% else %}
			<li><a href="/skillz-promo-code/">Skillz Promo Code</a></li>
			{% endif %}
			
			{% if page.url == "/skillz-match-code/" %}
			<li class="active"><a href="/skillz-match-code/">Skillz Match Codes</a></li>
			{% else %}
			<li><a href="/skillz-match-code/">Skillz Match Codes</a></li>
			{% endif %}
			
			{% if page.url == "/blog/" %}
			<li class="active"><a href="/blog/">Blog</a></li>
			{% else %}
			<li><a href="/blog/">Blog</a></li>
			{% endif %}
			
			<!--
			{% if page.url contains "/shop/" %}
			<li class="active cart-menu"><a href="#0" class="snipcart-total-price snipcart-checkout"></a></li>
			</li>
			{% else %}
			<li><a href="/shop/">Shop</a></li>
			</li>
			{% endif %}
			-->
			
			<li><a href="https://codes.esportsmedium.com/">Codes</a></li>
			
		</ul>
		{% endif %}
</nav>
