<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="30"
   height="80"
   viewBox="0 0 79.374998 211.66667"
   version="1.1"
   id="svg9155"
   opacity="0.8"
   sodipodi:docname="arrow.svg"
   inkscape:version="0.92.4 (5da689c313, 2019-01-14)">
  <defs
     id="defs9149" />
  <sodipodi:namedview
     id="base"
     pagecolor="#1e1e1e"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.35"
     inkscape:cx="108.84536"
     inkscape:cy="365.12964"
     inkscape:document-units="mm"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:pagecheckerboard="true"
     borderlayer="true"
     inkscape:showpageshadow="false"
     units="px"
     showguides="true"
     inkscape:guide-bbox="true"
     inkscape:snap-global="false"
     inkscape:window-width="1920"
     inkscape:window-height="1028"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata9152">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-85.333317)">
    <g
       id="g16"
       transform="matrix(2.6122748,0,0,2.6122748,-373.69197,-270.22246)"
       style="fill:#ff0000;fill-opacity:1">
      <path
         inkscape:connector-curvature="0"
         id="path9161"
         d="m 149.30884,189.29359 8.93618,26.45203 8.93618,-26.45203 c 0,0 -3.81417,5.34661 -8.93618,5.34661 -5.12201,0 -8.93618,-5.34661 -8.93618,-5.34661 z"
         style="opacity:1;vector-effect:none;fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:0.09482855;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
      <circle
         r="6.8442278"
         cy="179.34909"
         cx="158.16034"
         id="path9174"
         style="opacity:1;vector-effect:none;fill:#ff0000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.52945393;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
      <circle
         style="opacity:1;vector-effect:none;fill:#ff0000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.36362991;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         id="circle9176"
         cx="158.18793"
         cy="159.00735"
         r="4.7006283" />
      <circle
         r="4.0042386"
         cy="141.50562"
         cx="158.18793"
         id="circle9178"
         style="opacity:1;vector-effect:none;fill:#ff0000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.30975881;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    </g>
  </g>
</svg>
