<div class="option" id="option">
        <span class="withButton" id="withButton">Play with Mouse</span>
        <span class="withMouse" id="withMouse">Play with Button</span>
    </div>
		
    <div id="time"></div>
    
    <div class="field start">
        <div class="inner">
            <div class="header">
                <h1>Mikey's Mini Math Game</h1>
                <p>Play to Win Daily Skillz Match Codes</p>
                <img src="/assets/img/skillz-match-code-page.svg" class="smc-img">
            </div>
            <div class="button start" id="start">Start</div>
            <div class="start hidden" id="stopped">Codes exhausted, please check back in a bit!</div>
            <div class="tips">Objective: find 5 new codes daily <a href="/blog/mikey-play-for-codes-game/">INFO v1</a> | <a href="/blog/math-game-update/">v2</a></div>
     <!--       <div class="buy">Support Mikey by purchasing the <a href="#" class="buy-button">Codes & Votes Pack</a>.</div>-->
        </div>
    </div>
    
    <div class="field main">
        <div class="inner">
        
            <div class="notification">
                <span class="level">Level <span id="level">1</span></span>●<span class="counter" id="counter">0</span>
            </div>
            <div class="screen">
                <span class="first" id="first"></span>+<span class="second" id="second"></span>
                <div class="result" id="result"></div>
            </div>
            <div class="buttons withButton">
                <div class="button true" id="true">True</div>
                <div class="button false" id="false">False</div>
            </div>
            <div class="buttons withMouse">
                <p>Left click : <span>True</span></p>
                <p>Right click : <span>False</span></p>
            </div>
            <div id="clock" title="Codes reset daily at 00:00"></div>
        </div>
    </div>
    
    <div class="field end level1">
        <div class="inner">
            <div class="scoreboard">
                <div class="header">Your Score</div>
                <div class="level">Level <span id="level">1</span></div>
                <!--<div class="counter" id="counter">0</div>-->
                
                <div class="text level2">
                <span id="sysmsg"></span>
                <img src="/assets/img/pile-of-codes.svg" class="smc-img hidden">
                <h3 id="smc" class="hidden animated"></h3>
                <h3 id="smc-2" class="hidden animated"></h3>
                <h3 id="smc-3" class="hidden animated"></h3>
                <h3 id="smc-4" class="hidden animated"></h3>
                <h3 id="smc-5" class="hidden animated"></h3>
                <span id="expiry" class="hidden">Validity: 7 days. <br><a href="/blog/math-game-update/">Find out how to use codes.</a></span>
                </div>
               
                
            </div>
            <div class="button replay" id="replay">Replay</div>
            <div class="tips hidden">Drops are random and codes can repeat. <a href="/blog/mikey-play-for-codes-game/">Info</a></div>
            <!--
            <div class="buy">Support Mikey by purchasing the <a href="#" class="buy-button">Codes & Votes Pack</a>.</div>-->
            
				<!-- Preload Game Sounds -->
				<audio preload="auto" id="pop-1">
					<source src="/assets/sounds/pop1.mp3"></source>
					Your browser says no sound for you :(
				</audio>
				<audio preload="auto" id="pop-2">
					<source src="/assets/sounds/pop2.mp3"></source>
				</audio>
				<audio preload="auto" id="gemfind">
				  <source src="/assets/sounds/gem.mp3"></source>
				</audio>
		            
        </div>
    </div>
