<h2>What is a Skillz Promo Code?</h2>
<p>
It is a unique and universal coupon code that you can use to get a cash bonus, usually applied to your very first deposit. It's universal because it works with any Skillz game.
</p>
<h3>Where to get yours</h3>
<p>
Skillz promo code seekers, the hunt stops here! Look no further! eSports Medium is here to save the day!
</p>
<p>
By using our Skillz promo code on your very first deposit you will get up to $40 in bonus cash on top of your deposit. 
</p>
<br>
<p>
How neat is that? That’s pretty neat!
</p><br>
<a class="btn" href="https://codes.esportsmedium.com">Newest Skillz Promo Codes</a>
<br>

<br>
<hr>
<br>
<h2>How to use a Skillz Promo Code</h2>
<p>
There are just 3 easy steps you need to follow:
</p>
<img src="/assets/img/how-to-use-skillz-promo-code-in-three-steps.svg"/>
<ol class="bullets">
<li>
<a href="/skillz-games"><strong>Install any free Skillz game</strong></a> on your mobile device, create an account and play 2 practice games.
</li>
<li>
Go to the <strong>Store</strong> tab. Tap the <strong>Enter Promo Code</strong> button, enter your coupon code and press <strong>Done</strong>.
</li>
<li>
Finally, <strong>select your desired deposit amount
</strong> and enter your payment details. Done! You're ready to play real cash tournaments.
</li>
</ol>
<p>
Mikey Slice explains how it's done in this short  step-by-step video:
</p>
{% include youtube.html id="ieOAjOtVS6M" %}
<br>
<hr>
<br>
<h2>Getting started</h2>
<p>
You can use this uniqe Skillz promo code on ANY Skillz game:
</p>
<code>2F05J</code>
<p>
<img src="/assets/img/skillz-promo-code-coupon.svg"/>
<br><br>
<a href="https://corp.skillz.com/" target="_blank">Skillz</a> powers a lot of games. With over <a href="/skillz-games/">4,000 different games</a> to choose from we can’t give you individual promo codes. 
</p>
<p>
That’s why this code can be used on any game powered by Skillz. 
</p>
<p>
Make sure to use it BEFORE you select your deposit amount. That will guarantee $10 in bonus cash!
</p>
<br>
<hr>
<br>
<h2>Guranteed $40 cash</h2>
<br>
<img src="/assets/img/skillz-promo-code-instructions.svg"/>
<p>
You can choose to deposit: $10, $15, $20 or $30. 
</p>
<p>
The Skillz promo code can only be used once. It will get you 100% on your first deposit plus $10 in bonus cash for using Mikey's code.
</p>
<p>
<em>
Examples: 
<br><br>
- deposit $10 and play with (100% * $10) + $10 = $20 total
<br>
- deposit $15, play with $40 total
<br>
- deposit $20, play with $50 total
<br>
- deposit $30, play with $70 total
</em>
</p>
<p>
If you want to get the maximum amount of free cash then you have to choose $30 in order to get $70 total.
</p>
<p>
Make sure to use promo code BEFORE entering the deposit amount.
</p>
<p>
<em>
Note: If you change your deposit amount after selecting it and go back to choose a new amount, you have to enter the promo code 2F05J again.
</em>
</p>
<br>
<h3>No deposit codes</h3>
<p>Not eligible to use the Skillz promo code? Not a problem.</p>
<p>
Mikey introduces special Skillz event codes, aka match codes which enable you to get free cash each month:
</p>
{% include youtube.html id="M1QK1Bl2MK4" %}
<p>
For more info please visit the <a href="/skillz-match-codes">Skillz Match Codes</a> page.
</p>

